# gradle

.gradle/
build/
out/
classes/
keys.txt

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
logs/

#code
src/main/java/com/hamusuke/twitter4mc/Token.java